@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #222224;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.top a{
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background-color: #FFFFFF;
    padding: 0.7em 1em;
    font-size: 1.1em;
    border-radius: 50%;
    color: #CD9524;
    transition: color .5s, background-color .5s;
}

.top a:hover {
    background-color: #CD9524;
    color: #FFFFFF;
}


/* NAV */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5vh solid #CD9524;
}

.header img {
    height: 18vh;
    border-radius: 50%;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    width: 100vh;
}

.nav-ul-li a {
    color: #FFFFFF;
    font-size: 2.5vh;
    padding: 1vh;
}

.nav-ul-li a:hover {
    background-color: rgba(205, 149, 36, 0.2);
    border-bottom: 1.5px solid #CD9524;
}
.nav-ul-li-menu a {
    background-color: rgba(205, 149, 36, 0.2);
    border-bottom: 1.5px solid #CD9524;
}

.nav-ul-li-promociones a {
    background-color: rgba(205, 149, 36, 0.2);
    border-bottom: 1.5px solid #CD9524;
}

.nav-ul-li-contacto a {
    background-color: rgba(205, 149, 36, 0.2);
    border-bottom: 1.5px solid #CD9524;
}

.nav-ul-li-sugerencias a {
    background-color: rgba(205, 149, 36, 0.2);
    border-bottom: 1.5px solid #CD9524;
}

/* NAV */



/* INICIO */

    /* index */

.inicio{
    font-size: 5vh;
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    letter-spacing: 0.8vh;
}

.inicio p {
    font-size: 3vh;
    margin-top: 10vh;
}

.h1-grow-amarillo {
    color: #CD9524;
}

/* .tarjetas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    margin: 10vh 0;
}

.tarjetas-article-cervezas-texto, .tarjetas-article-hamburguesas-texto, .tarjetas-article-tapeos-texto {
    text-align: center;
    display: flex;
    padding: 1vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    font-size: 2.5vh;
    color: #222224;
    font-weight: 550;
}

.tarjetas-article-cervezas-texto h3, .tarjetas-article-hamburguesas-texto h3, .tarjetas-article-tapeos-texto h3 {
    font-size: 3vh;
    text-transform: uppercase;
}

.tarjetas-article-cervezas-texto a, .tarjetas-article-hamburguesas-texto a, .tarjetas-article-tapeos-texto a {
    padding: 1vh;
    background-color: #ffffff;
    color: #CD9524;
    font-weight: 700;
    border-radius: 5%;
}

.tarjetas-article-cervezas , .tarjetas-article-hamburguesas , .tarjetas-article-tapeos {
    width: 25%;
    background-color: #CD9524;
    border: 0.5vh solid #FFFFFF;
    border-radius: 10%;
} */

    /* index */

    /* menu */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 20vh;
    height: 20vh;
    padding-bottom: 20vh;
    border-bottom: 0.5vh solid #CD9524;
}

.menu h1 {
    color: #CD9524;
    font-size: 7vh;
    letter-spacing: 0.8vh;
    margin-bottom: 5vh;
}

.menu-ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.menu-ul-li a {
    color: #FFFFFF;
    font-size: 1.3em;
    padding: 0.2em;
}


.burger-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
    row-gap: 5vh;
    column-gap: 2.5em;
}

.menu-article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

.menu-article-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu-article-text p {
    margin: 1em 0;
}

.menu-article-img img{
    border-radius: 50%;
    width: 15em;
    height: 15em;
}

.title-section h2 {
    font-size: 6vh;
    background-color: #CD9524;
    color: #222223;
    padding: 0.2em;
    margin-top: 2em;
}

.h3-color h3 {
    color: #CD9524;
    font-size: 2em;
}

.precio-colores {
    background-color: #CD9524;
    color: #ffffff;
    font-size: 1.2em;
}

.vegetariano-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
    row-gap: 5em;
    column-gap: 5em;
}

.coming-soon {
    font-size: 1.6em;
}

.tapeos-section, .cerveza-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5em;
    row-gap: 5em;
    column-gap: 5em;
}

.cerveza-section {
    margin-bottom: 5em;
}
/* .section-grid {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 15vh;

}

.section-h2 {
    background-color: #CD9524;
    display: flex;
    margin: auto;
    color: #222224;
    padding: 1vh;
    font-size: 4vh;
    margin-bottom: 5vh;
}



.grid-menu-div {
    color: #FFFFFF;
}

.grid-menu-div-img img {
    display: none;
}

.grid-menu {
    margin: 1vh;
}

.grid-menu-div h3 {
    color: #CD9524;
    margin-bottom: 1vh;
}

.grid-menu-div-precio {
    display: inline;
    color: #FFFFFF;
    background-color: #CD9524; 
    font-weight: 600;
} */

    /* menu */

/*  */

    /* promociones */

.section-promos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    margin: auto;
    margin: 5em 0;
    color: #222223;
}

.section-promos h2 {
    background-color: #CD9524;
    width: 100%;
    font-size: 3em;
}

.section-promos .promo-oculta {
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
}

    /* promociones */

/*  */

    /* contacto */

.contacto-h1 {
    align-items: center;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    color: #ffffff;
}

.contacto-h1 h1 {
    color: #CD9524;
}

.ubicacion-redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    border: 0.1em #CD9524 solid;
    padding: 0.8em;
    align-items: center;
    justify-items: center;
}

.contacto-redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    width: auto;
    align-items: center;
    color: #FFFFFF;
}

.contacto-redes h3 {
    font-size: 3em;
}

.contacto-redes p {
    font-size: 1.2em;
}

.contacto-redes-iconos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2em;
}

.contacto-redes-iconos .whatsapp {
    background-color: #4AA81F;
    padding: 0.2em;
    color: white;
}

.contacto-redes-iconos .instagram {
    background-color: #9C349B;
    padding: 0.2em;
    color: white;
}

    /* contacto */

/*  */

/* INICIO */



/* FOOTER */

footer {
    background-color: #CD9524;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 38vh;
    padding: 1.5vh;
}

.footer-nav-ul {
    display: flex;
    width: 80vh;
    justify-content: space-between;
}

.footer-nav-ul-li a {
    color: #FFFFFF;
    font-size: 2.5vh;
    padding: 1vh;
}

.footer-nav-ul-li-menu a {
    background-color: rgba(34, 34, 36, 0.2);
    border-bottom: 1.5px solid #222224;
}

.footer-nav-ul-li-promociones a {
    background-color: rgba(34, 34, 36, 0.2);
    border-bottom: 1.5px solid #222224;
}

.footer-nav-ul-li-contacto a {
    background-color: rgba(34, 34, 36, 0.2);
    border-bottom: 1.5px solid #222224;
}

.footer-nav-ul-li-sugerencias a {
    background-color: rgba(34, 34, 36, 0.2);
    border-bottom: 1.5px solid #222224;
}

.footer-nav-ul-li a:hover {
    background-color: rgba(34, 34, 36, 0.2);
    border-bottom: 1.5px solid #222224;
}

.footer-autor {
    font-size: 2.5vh;
    margin-top: 3vh;
    color: #222224;
    width: 100%;
    text-align: center;
}

.footer-autor ul {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 1vh;
    justify-content: space-evenly;
}

.footer-autor a {
    color: #222224;
}

.footer img {
    height: 15vh;
    border-radius: 50%;
}



