// -----------------------------------------------------------------------------------------

.contactoTitle {
    font-size: 2em;
    text-align: center;
    margin: 3em 0;

    @media (max-width: 768px) {
        margin: 1em 0;
    }

    h1 {
        color: #cd9524;
    }

    p {
        margin: 1.2em 0;
        font-size: 0.8em;
        color: $growColor3;
    }

    .contactoTitle__iconos {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .contacto__ig {
            color: #c13584;

            @media (max-width: 768px) {
                font-size: 0.8em;
            }
        }
        
        .contacto__wp {
            color: #00bb2d;

            @media (max-width: 768px) {
                font-size: 0.8em;
            }
        }

        a {
            padding: 0.2em;
            border-radius: 1%;

            .fa-whatsapp {
                color: $growColor3;
                background-color: #00bb2d;
            }
            
            .fa-instagram {
                color: $growColor3;
                background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
            }
        }

        i {
            padding: 0.25em;
            border-radius: 50%;
        }
    }
}

.ubicacion {
    display: grid;
    grid-template-areas: 
    "a b";
    align-items: center;
    width: 90%;
    margin: 0 auto 4em;
    padding: 0.5em;
    border: 0.1em solid $growColor1;

    .ubicacion__iframe--s {
        display: none;
        grid-area: a;

        @media (max-width: 768px) {
            display: block;
            margin: 0 auto 1.3em;
        }
    }
    
    .ubicacion__iframe--m {
        grid-area: a;

        @media (max-width: 1024px) {
            margin: 0 auto 1.3em;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .ubicacion__direccion {
        text-align: center;
        font-size: 1.5em;
        grid-area: b;

        p {
            margin: 2em 0;
            color: $growColor3;
        }

        h3 {
            color: $growColor3;
        }

        .ubicacion__direccion__h3__i--amarillo {
            color: $growColor1;
        }
    }
}

@media (max-width: 1024px) {
    .contenedor-ubicacion {
        width: auto;
    }

    .ubicacion {
        grid-template-areas:
        "a"
        "b";
        width: 98%;
    }
}






// -----------------------------------------------------------------------------------------