// -----------------------------------------------------------------------------------------

.inicio{
    font-size: $growH1;
    color: $growColor3;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    letter-spacing: 0.2em;

    p {
        font-size: $growSubtitle;
        margin-top: 2em;

        .inicio__p--letraAmarillo {
            color: $growColor1;
        }
    }
    
    .inicio__h1--growAmarillo {
        color: $growColor1;
    }
}


// -----------------------------------------------------------------------------------------