// -----------------------------------------------------------------------------------------

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 20vh;
    height: 20vh;
    padding-bottom: 20vh;
    border-bottom: 0.1vh solid $growColor1;

    h1 {
        color: $growColor1;
        font-size: 4em;
        letter-spacing: 0.8vh;
        margin-bottom: 5vh;
    }

    .menu__ul {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    
    .menu__ul__li{

        a {
        color: $growColor3;
        font-size: 1.3em;
        padding: 0.2em;
        }
    }
}

.titleSection {
    
    h2 {
    font-size: 3em;
    background-color: $growColor1;
    color: $growColor2;
    padding: 0.2em;
    margin-top: 2em;
    }
    
    .burgers__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5em;
        row-gap: 2em;
        column-gap: 2.5em;
    }
    .vegetariano__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3em;
        row-gap: 3em;
        column-gap: 3em;
        
        .comingSoon {
            font-size: 1.8em;
            color: $growColor1;
        }
    }
    
    .tapeos__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 3em 0;
        row-gap: 1em;
        column-gap: 1em;
    }

    .menu__article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $growColor3;
        
        .menu__article__img img{
            border-radius: 50%;
        }
        
        .menu__article__text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            
            .h3--color {
                color: $growColor1;
                font-size: 2em;
            }
    
            p {
                margin: 1em 0;
            }
            
            .precio--colores {
                border: 0.03em solid $growColor1;
                padding: 0.2em;
                color: $growColor3;
                font-size: 1.2em;
            }
        }
    }
}





.top a{
    position: fixed;
    bottom: 2em;
    right: 2em;
    background-color: $growColor3;
    padding: 0.7em 1em;
    font-size: 1.1em;
    border-radius: 50%;
    color: $growColor1;
    transition: color .5s, background-color .5s;
}

.top a:hover {
    background-color: $growColor1;
    color: $growColor3;
    border: 0.15em solid $growColor3;
} 

// -----------------------------------------------------------------------------------------