// -----------------------------------------------------------------------------------------


.title__promociones {

    .title__promociones-responsive {
        display: none;
        text-align: center;

        @media (max-width: 768px) {
            display: block;
        }
    }

    h1 {
    font-size: 4em;
    color: $growColor3;
    text-align: center;
    margin: 2em auto;

        @media (max-width: 768px) {
            display: none;
            margin: 1em auto;
        }
    }

    .title__promociones__h1--amarillo {
        color: $growColor1;
    }
}

.promociones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5em;
    column-gap: 5em;
    margin: 5em 0;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media (max-width: 768px) {
        grid-template-columns: 1fr; 
    }
    
    .promociones__dias {
        color: $growColor3;
        padding: 0.4em;
        text-align: center;
        border: 0.15em solid $growColor1;

        h2 {
            margin-bottom: 1.5em;
            font-size: 2.5em;

            @media (max-width: 1024px) {
                margin-bottom: 1em;
            }
        }

        .promociones__dias__h2--amarillo {
            color: $growColor1;
        }

        .promociones__dias__promo {
            h3 {
                font-size: 1.3em;
                border: 0.05em solid $growColor3;
                padding: 0.5em;
                background-color: $growColor1;
                color: $growColor2;

                @media (max-width: 768px) {
                    margin-bottom: 0.5em;
                }
            }

            p {
                margin-top: 1em;
            }
        }
    }
}







// -----------------------------------------------------------------------------------------