@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #222223;
    color: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.contenedor {
    width: 90%;
    margin: auto;
}

.todo {
    height: auto;
    width: 100%;
}

.titulo h2{
    background-color: #CD9524;
    color: #222223;
    font-size: 3em;
    padding: 0.1em;
    letter-spacing: 0.09em;
    transition: letter-spacing 1s;
    border: 0.01em solid #ffffff;
    width: 25%;
}

.texto-oculto {
    display: none;
    text-align: center;
    padding: 2em 0;
    transition: display 0.3s;
}

.todo:hover .texto-oculto {
    display: flex;
    width: 80%;
    margin: auto;
}

.todo:hover .titulo h2 {
    letter-spacing: 0.2em;
}